.sign-in-title {
    color: aliceblue;
}

/* fix code below */

.box-div {
    width: 300px;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  